Ice Risk Monitor (with optional NWS).json
{
  "name": "Ice Risk Monitor (with optional NWS)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6,22 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1200,
        1024
      ],
      "id": "c8982936-aeaa-4bbb-aa10-112bdfdc9db3",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        832
      ],
      "id": "1d8783eb-ea23-4402-a096-cfaff59c4f60",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14Im8yJwoo8dbg8vqRM6jXybYXiE5yA2SguGzEtExrBU",
          "mode": "list",
          "cachedResultName": "Content ideas tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14Im8yJwoo8dbg8vqRM6jXybYXiE5yA2SguGzEtExrBU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1609808925,
          "mode": "list",
          "cachedResultName": "Property data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14Im8yJwoo8dbg8vqRM6jXybYXiE5yA2SguGzEtExrBU/edit#gid=1609808925"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -896,
        928
      ],
      "id": "e91aa892-c9d4-4d5c-804a-f4cda7f4082a",
      "name": "Get property details",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "idp8OtFVWbbPyfiR",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "09a12ce0-69a2-40a6-ae2a-eb957cca4f3e",
              "leftValue": "={{ $json.Latitude }}\n\n\n",
              "rightValue": "{}",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "b3a66546-0bf5-480d-8a1a-a91bbfce4ea3",
              "leftValue": "={{ $json.Longitude }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -640,
        928
      ],
      "id": "d8b3358f-b9d6-49e1-bddd-f49d43c9b5b1",
      "name": "Does LatLong exists?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "14Im8yJwoo8dbg8vqRM6jXybYXiE5yA2SguGzEtExrBU",
          "mode": "list",
          "cachedResultName": "Content ideas tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14Im8yJwoo8dbg8vqRM6jXybYXiE5yA2SguGzEtExrBU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1609808925,
          "mode": "list",
          "cachedResultName": "Property data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14Im8yJwoo8dbg8vqRM6jXybYXiE5yA2SguGzEtExrBU/edit#gid=1609808925"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Latitude": "={{ $json.Latitude }}",
            "Longitude": "={{ $json.Longitude }}",
            "Property_Name": "={{ $json.Property_Name }}",
            "row_number": "={{ $('Get property details').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Property_ID",
              "displayName": "Property_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Property_Name",
              "displayName": "Property_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Street_Address",
              "displayName": "Street_Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ZIP_Code",
              "displayName": "ZIP_Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Latitude",
              "displayName": "Latitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Longitude",
              "displayName": "Longitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        1088
      ],
      "id": "939349f7-7f62-40b3-a9cf-f52adb879ff9",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "idp8OtFVWbbPyfiR",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://nominatim.openstreetmap.org/search\n?q={{$json[\"Street_Address\"]}},{{$json[\"City\"]}},{{$json[\"State\"]}},{{$json[\"Country\"]}}\n&format=json&limit=1\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "IceRiskMonitorPracticeProject/1.0 (chibugom8@gmail.com)"
            },
            {
              "name": "Referrer",
              "value": "https://www.google.com/"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": false,
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -304,
        1088
      ],
      "id": "e04cd770-b02e-4f1e-866d-c9e18079550f",
      "name": "Get LatLong from OSM",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Checks if LatLong exists\n",
        "height": 448,
        "width": 832
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1264,
        736
      ],
      "typeVersion": 1,
      "id": "9f5f2fc1-6057-4a6d-addd-025b4c93dc01",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## LatLong doesn't exist, get it !!\n",
        "height": 368,
        "width": 672,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        976
      ],
      "typeVersion": 1,
      "id": "df70fa7f-ef36-46df-bd3f-f7900fb19cb0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "url": "=https://api.open-meteo.com/v1/forecast?latitude={{$json.Latitude}}&longitude={{$json.Longitude}}&current=temperature_2m,precipitation,weather_code&hourly=temperature_2m,precipitation,snowfall&temperature_unit=fahrenheit&timezone=America/Chicago&prop_id={{$json.Property_ID}}&prop_name={{encodeURIComponent($json.Property_Name)}}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -96,
        768
      ],
      "id": "652f8b25-7242-4dd2-be56-749dc0be1092",
      "name": "Get weather forecast using Open Mateo APi",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://api.weather.gov/alerts/active?point={{ $('Was ice risk detected?').item.json.Latitude }},{{ $('Was ice risk detected?').item.json.Longitude }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n-ice-risk-monitor (chibugom8@gmail.com)"
            },
            {
              "name": "Accept",
              "value": "application/geo+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 50000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        640
      ],
      "id": "69a6f4be-f3a7-4879-9102-8f37d1abfbcc",
      "name": "Get NWS Alerts"
    },
    {
      "parameters": {
        "content": "## Get weather forecast\n",
        "height": 304,
        "width": 672,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        640
      ],
      "typeVersion": 1,
      "id": "d7f277b8-0ba8-423a-a901-077cc3bd937f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -304,
        768
      ],
      "id": "f77250c8-a28e-4b93-828f-65bfbba521fd",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f50b32a6-76f0-40bf-a068-5aa21d5cf889",
              "name": "Property_ID",
              "value": "={{ $('Get property details').item.json.Property_ID }}",
              "type": "string"
            },
            {
              "id": "c1d4c19d-1fb5-4065-8ff8-dcb965e7e232",
              "name": "Property_Name",
              "value": "={{ $('Get property details').item.json.Property_Name }}",
              "type": "string"
            },
            {
              "id": "4639664f-8424-4a2f-82a5-b93eefbc3167",
              "name": "Latitude",
              "value": "={{ $json.latitude }}",
              "type": "number"
            },
            {
              "id": "90f5f46d-7c7a-4ec5-bd27-5b1e062a7b9d",
              "name": "Longitude",
              "value": "={{ $json.longitude }}",
              "type": "number"
            },
            {
              "id": "39af24a4-5920-4d26-8ac5-4fe537098608",
              "name": "generationtime_ms",
              "value": "={{ $json.generationtime_ms }}",
              "type": "number"
            },
            {
              "id": "9e695925-67fb-45f3-b412-ea56e8b6abcb",
              "name": "utc_offset_seconds",
              "value": "={{ $json.utc_offset_seconds }}",
              "type": "number"
            },
            {
              "id": "ba1ac861-9efc-442c-9f83-2fc2fd4710a3",
              "name": "timezone",
              "value": "={{ $json.timezone }}",
              "type": "string"
            },
            {
              "id": "5d484c31-36bf-4f09-b30c-c17448770fcd",
              "name": "timezone_abbreviation",
              "value": "={{ $json.timezone_abbreviation }}",
              "type": "string"
            },
            {
              "id": "0b6f9abd-5535-4c8f-b4f1-13e0186759a3",
              "name": "elevation",
              "value": "={{ $json.elevation }}",
              "type": "number"
            },
            {
              "id": "b04c34c2-0c8d-4738-ba21-98f1908b08a9",
              "name": "current_units",
              "value": "={{ $json.current_units }}",
              "type": "object"
            },
            {
              "id": "16d2de70-ded6-4eab-8a00-912052b55511",
              "name": "current",
              "value": "={{ $json.current }}",
              "type": "object"
            },
            {
              "id": "e4d54b77-cef8-46e4-b133-8dc5092ba98e",
              "name": "hourly_units",
              "value": "={{ $json.hourly_units }}",
              "type": "object"
            },
            {
              "id": "6bcb3e2e-ada6-42ef-b141-25d8752d3a27",
              "name": "hourly",
              "value": "={{ $json.hourly }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        768
      ],
      "id": "1d7460ea-c041-4127-8177-827a1b391239",
      "name": "Preserve Property Data "
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed6eee2a-dce8-4078-b0ed-e6db2673052c",
              "name": "Street_Address",
              "value": "={{ $json.display_name }}",
              "type": "string"
            },
            {
              "id": "04ee3a7c-6460-44b2-a330-f036b7084fbc",
              "name": "Property_Name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "6d82d1a8-d88b-415f-8e33-ea021bc481ec",
              "name": "Latitude",
              "value": "={{ parseFloat($json.lat).toFixed(4) }}\n\n",
              "type": "string"
            },
            {
              "id": "a7466440-10aa-4940-a575-368c1162a406",
              "name": "Longitude",
              "value": "={{ parseFloat($json.lon).toFixed(4) }}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        1088
      ],
      "id": "f8dc9d07-62d4-440d-9ebf-572d90ccf0c9",
      "name": "Normalize data"
    },
    {
      "parameters": {
        "jsCode": "const PRECIP_WINDOW_HOURS = 6;\nconst FREEZE_F = 32;\nconst MAX_SNOW_CM = 0.5;\n\nconst inputs = $input.all();\n\nreturn inputs.map(({ json: j }) => {\n  const propertyId = j.Property_ID;\n  const propertyName = j.Property_Name;\n\n  const lat = j.Latitude ?? j.latitude ?? j.lat;\n  const lon = j.Longitude ?? j.longitude ?? j.lon;\n\n  const currentTempF = j.current?.temperature_2m;\n\n  const hourly = j.hourly || {};\n  const times = hourly.time || [];\n  const temps = hourly.temperature_2m || [];\n  const precip = hourly.precipitation || [];\n  const snowfall = hourly.snowfall || [];\n\n  const nowUtc = new Date();\n\n  let precipInWindow = false;\n  let maxSnowInWindow = 0;\n  let overnightLowF = null;\n\n  for (let i = 0; i < times.length; i++) {\n    const tUtc = new Date(times[i]);\n    const hoursAgo = (nowUtc - tUtc) / (1000 * 60 * 60);\n\n    if (hoursAgo >= 0 && hoursAgo <= PRECIP_WINDOW_HOURS) {\n      const p = Number(precip[i] ?? 0);\n      const s = Number(snowfall[i] ?? 0);\n\n      if (p > 0 || s > 0) precipInWindow = true;\n      if (s > maxSnowInWindow) maxSnowInWindow = s;\n    }\n\n    const tf = temps[i];\n    if (typeof tf === \"number\") {\n      overnightLowF = (overnightLowF === null) ? tf : Math.min(overnightLowF, tf);\n    }\n  }\n\n  const freezeByCurrent = typeof currentTempF === \"number\" && currentTempF <= FREEZE_F;\n  const freezeByOvernightLow = typeof overnightLowF === \"number\" && overnightLowF <= FREEZE_F;\n\n  const freezeCondition = freezeByCurrent || freezeByOvernightLow;\n  const iceOnlyCondition = maxSnowInWindow <= MAX_SNOW_CM;\n\n  const iceRisk = precipInWindow && freezeCondition && iceOnlyCondition;\n\n  return {\n    json: {\n      Property_ID: propertyId,\n      Property_Name: propertyName,\n      Latitude: lat,\n      Longitude: lon,\n      evaluation: {\n        iceRisk,\n        precipInWindow,\n        freezeByCurrent,\n        freezeByOvernightLow,\n        iceOnlyCondition,\n      },\n      weather_summary: {\n        current_temp_f: currentTempF,\n        overnight_low_f: overnightLowF,\n        precip_window_hours: PRECIP_WINDOW_HOURS,\n        precip_in_window: precipInWindow,\n        max_snow_in_window_cm: maxSnowInWindow,\n        snowfall_threshold_cm: MAX_SNOW_CM,\n      },\n    },\n  };\n});\n\n\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        768
      ],
      "id": "185c71d6-4f79-4e3b-98d0-795864bc5941",
      "name": "Ice risk evaluation"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c0ee521-1bde-4a0b-886b-51ed49ed6980",
              "name": "=use_nws",
              "value": "={{ !!(\n  Number($json.Latitude) >= 24.396308 && Number($json.Latitude) <= 49.384358 &&\n  Number($json.Longitude) >= -124.848974 && Number($json.Longitude) <= -66.885444\n) }}",
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        656
      ],
      "id": "d6e359a5-e71e-465c-9011-00055bcd72b8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "28392835-8fe7-4483-80a3-56c3a3a744a0",
              "leftValue": "={{ $json.evaluation.iceRisk }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        608,
        768
      ],
      "id": "9a1c0040-a470-43b7-8b0d-26f710bb4c4e",
      "name": "Was ice risk detected?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "95a67b0f-57e9-46b4-9c27-bcec0fe3ffcb",
              "leftValue": "={{ $json.use_nws }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1088,
        656
      ],
      "id": "41fffad9-cb20-46ed-ba43-67e1cc9948eb",
      "name": "Check if NWS is available for property"
    },
    {
      "parameters": {
        "content": "## Ice risk evaluation and detection\n",
        "height": 288,
        "width": 480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        656
      ],
      "typeVersion": 1,
      "id": "310f7eac-251f-4cdf-8c55-a4604da6d14f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51168eea-ff8f-4f0e-95a5-7483e12cae53",
              "name": "Property_ID",
              "value": "={{ $('Edit Fields').item.json.Property_ID }}",
              "type": "string"
            },
            {
              "id": "0be23a43-b3e5-417c-a9be-2e2ced70dd0e",
              "name": "Property_Name",
              "value": "={{ $('Edit Fields').item.json.Property_Name }}",
              "type": "string"
            },
            {
              "id": "86a86fd9-7d79-4f5c-94c9-6d3a1383e3da",
              "name": "Latitude",
              "value": "={{ $('Edit Fields').item.json.Latitude }}",
              "type": "number"
            },
            {
              "id": "68cf6ffb-8f2f-4a9d-b153-83fcfd02374c",
              "name": "Longitude",
              "value": "={{ $('Edit Fields').item.json.Longitude }}",
              "type": "number"
            },
            {
              "id": "00212fc5-cd31-4a4a-a355-97328c3f8f54",
              "name": "Evaluation",
              "value": "={{ $('Edit Fields').item.json.evaluation }}",
              "type": "object"
            },
            {
              "id": "f0769faf-7ac9-4d6c-ae65-a9612af95167",
              "name": "Weather_summary",
              "value": "={{ $('Edit Fields').item.json.weather_summary }}",
              "type": "object"
            },
            {
              "id": "829ec77d-2143-464e-837a-eae70cfc6994",
              "name": "Headline",
              "value": "={{ $json.features[0].properties.headline }}",
              "type": "string"
            },
            {
              "id": "8d1a4de5-fe4c-4445-958c-30a625a02d86",
              "name": "Description",
              "value": "={{ $json.features[0].properties.description }}",
              "type": "string"
            },
            {
              "id": "28fe41e6-25bc-416f-a76f-6aadf6ec9bf0",
              "name": "Event",
              "value": "={{ $json.features[0].properties.event }}",
              "type": "string"
            },
            {
              "id": "386a395d-6022-4eeb-b4dc-a8b9c4534bdb",
              "name": "Severity",
              "value": "={{ $json.features[0].properties.severity }}",
              "type": "string"
            },
            {
              "id": "5f7ca02b-fbd4-4e60-9d5d-74c797bdcd9a",
              "name": "Urgency",
              "value": "={{ $json.features[0].properties.urgency }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        640
      ],
      "id": "edc5077d-521f-4576-9786-35b0e5c40d42",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "sendTo": "chibugo@lendsqr.com",
        "subject": "⚠️ Ice Risk Detected",
        "message": "=<h2>Property: {{$json.Property_Name}} ({{$json.Property_ID}})</h2>\n\n<ul>\n  <li><strong>Recent precipitation (last {{ $json.Weather_summary.precip_window_hours }}h):</strong> {{ $json.Weather_summary.precip_in_window }}</li>\n  <li><strong>Current temp (°F):</strong> {{ $json.Weather_summary.current_temp_f }}</li>\n  <li><strong>Overnight low (°F):</strong> {{ $json.Weather_summary.overnight_low_f }}</li>\n  <li><strong>Max snowfall in window (cm):</strong> {{ $json.Weather_summary.max_snow_in_window_cm }} </li>\n</ul>\n\n<p><strong>Action:</strong> Recommend salt-only application</p>\n<p><strong>Next step:</strong> Notify snow service provider</p>\n\n{{ $json.nws && $json.nws.alert_count > 0 ? `\n<hr/>\n<h3>National Weather Service Alerts (${ $json.nws.alert_count })</h3>\n<ul>\n  ${($json.nws.headlines || []).map(h => `<li>${h}</li>`).join(\"\")}\n</ul>\n` : \"\" }}\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1664,
        928
      ],
      "id": "fde4c036-4324-4475-a19c-497255966657",
      "name": "Send alert",
      "webhookId": "5af33803-07aa-4275-8b00-d2febd8a8336",
      "credentials": {
        "gmailOAuth2": {
          "id": "U2qDeRABiOUq7AAy",
          "name": "Gmail account 5"
        }
      }
    }
  ],
  "pinData": {
    "Get weather forecast using Open Mateo APi": [
      {
        "json": {
          "latitude": 41.906273,
          "longitude": -87.645874,
          "generationtime_ms": 0.1996755599975586,
          "utc_offset_seconds": -21600,
          "timezone": "America/Chicago",
          "timezone_abbreviation": "GMT-6",
          "elevation": 189,
          "current_units": {
            "time": "iso8601",
            "interval": "seconds",
            "temperature_2m": "°F",
            "precipitation": "mm",
            "weather_code": "wmo code"
          },
          "current": {
            "time": "2026-01-14T07:45",
            "interval": 900,
            "temperature_2m": 29.2,
            "precipitation": 0.2,
            "weather_code": 73
          },
          "hourly_units": {
            "time": "iso8601",
            "temperature_2m": "°F",
            "precipitation": "mm",
            "snowfall": "cm"
          },
          "hourly": {
            "time": [
              "2026-01-14T00:00",
              "2026-01-14T01:00",
              "2026-01-14T02:00",
              "2026-01-14T03:00",
              "2026-01-14T04:00",
              "2026-01-14T05:00",
              "2026-01-14T06:00",
              "2026-01-14T07:00",
              "2026-01-14T08:00",
              "2026-01-14T09:00",
              "2026-01-14T10:00",
              "2026-01-14T11:00",
              "2026-01-14T12:00",
              "2026-01-14T13:00",
              "2026-01-14T14:00",
              "2026-01-14T15:00",
              "2026-01-14T16:00",
              "2026-01-14T17:00",
              "2026-01-14T18:00",
              "2026-01-14T19:00",
              "2026-01-14T20:00",
              "2026-01-14T21:00",
              "2026-01-14T22:00",
              "2026-01-14T23:00",
              "2026-01-15T00:00",
              "2026-01-15T01:00",
              "2026-01-15T02:00",
              "2026-01-15T03:00",
              "2026-01-15T04:00",
              "2026-01-15T05:00",
              "2026-01-15T06:00",
              "2026-01-15T07:00",
              "2026-01-15T08:00",
              "2026-01-15T09:00",
              "2026-01-15T10:00",
              "2026-01-15T11:00",
              "2026-01-15T12:00",
              "2026-01-15T13:00",
              "2026-01-15T14:00",
              "2026-01-15T15:00",
              "2026-01-15T16:00",
              "2026-01-15T17:00",
              "2026-01-15T18:00",
              "2026-01-15T19:00",
              "2026-01-15T20:00",
              "2026-01-15T21:00",
              "2026-01-15T22:00",
              "2026-01-15T23:00",
              "2026-01-16T00:00",
              "2026-01-16T01:00",
              "2026-01-16T02:00",
              "2026-01-16T03:00",
              "2026-01-16T04:00",
              "2026-01-16T05:00",
              "2026-01-16T06:00",
              "2026-01-16T07:00",
              "2026-01-16T08:00",
              "2026-01-16T09:00",
              "2026-01-16T10:00",
              "2026-01-16T11:00",
              "2026-01-16T12:00",
              "2026-01-16T13:00",
              "2026-01-16T14:00",
              "2026-01-16T15:00",
              "2026-01-16T16:00",
              "2026-01-16T17:00",
              "2026-01-16T18:00",
              "2026-01-16T19:00",
              "2026-01-16T20:00",
              "2026-01-16T21:00",
              "2026-01-16T22:00",
              "2026-01-16T23:00",
              "2026-01-17T00:00",
              "2026-01-17T01:00",
              "2026-01-17T02:00",
              "2026-01-17T03:00",
              "2026-01-17T04:00",
              "2026-01-17T05:00",
              "2026-01-17T06:00",
              "2026-01-17T07:00",
              "2026-01-17T08:00",
              "2026-01-17T09:00",
              "2026-01-17T10:00",
              "2026-01-17T11:00",
              "2026-01-17T12:00",
              "2026-01-17T13:00",
              "2026-01-17T14:00",
              "2026-01-17T15:00",
              "2026-01-17T16:00",
              "2026-01-17T17:00",
              "2026-01-17T18:00",
              "2026-01-17T19:00",
              "2026-01-17T20:00",
              "2026-01-17T21:00",
              "2026-01-17T22:00",
              "2026-01-17T23:00",
              "2026-01-18T00:00",
              "2026-01-18T01:00",
              "2026-01-18T02:00",
              "2026-01-18T03:00",
              "2026-01-18T04:00",
              "2026-01-18T05:00",
              "2026-01-18T06:00",
              "2026-01-18T07:00",
              "2026-01-18T08:00",
              "2026-01-18T09:00",
              "2026-01-18T10:00",
              "2026-01-18T11:00",
              "2026-01-18T12:00",
              "2026-01-18T13:00",
              "2026-01-18T14:00",
              "2026-01-18T15:00",
              "2026-01-18T16:00",
              "2026-01-18T17:00",
              "2026-01-18T18:00",
              "2026-01-18T19:00",
              "2026-01-18T20:00",
              "2026-01-18T21:00",
              "2026-01-18T22:00",
              "2026-01-18T23:00",
              "2026-01-19T00:00",
              "2026-01-19T01:00",
              "2026-01-19T02:00",
              "2026-01-19T03:00",
              "2026-01-19T04:00",
              "2026-01-19T05:00",
              "2026-01-19T06:00",
              "2026-01-19T07:00",
              "2026-01-19T08:00",
              "2026-01-19T09:00",
              "2026-01-19T10:00",
              "2026-01-19T11:00",
              "2026-01-19T12:00",
              "2026-01-19T13:00",
              "2026-01-19T14:00",
              "2026-01-19T15:00",
              "2026-01-19T16:00",
              "2026-01-19T17:00",
              "2026-01-19T18:00",
              "2026-01-19T19:00",
              "2026-01-19T20:00",
              "2026-01-19T21:00",
              "2026-01-19T22:00",
              "2026-01-19T23:00",
              "2026-01-20T00:00",
              "2026-01-20T01:00",
              "2026-01-20T02:00",
              "2026-01-20T03:00",
              "2026-01-20T04:00",
              "2026-01-20T05:00",
              "2026-01-20T06:00",
              "2026-01-20T07:00",
              "2026-01-20T08:00",
              "2026-01-20T09:00",
              "2026-01-20T10:00",
              "2026-01-20T11:00",
              "2026-01-20T12:00",
              "2026-01-20T13:00",
              "2026-01-20T14:00",
              "2026-01-20T15:00",
              "2026-01-20T16:00",
              "2026-01-20T17:00",
              "2026-01-20T18:00",
              "2026-01-20T19:00",
              "2026-01-20T20:00",
              "2026-01-20T21:00",
              "2026-01-20T22:00",
              "2026-01-20T23:00"
            ],
            "temperature_2m": [
              39.9,
              38.6,
              37.1,
              38,
              37.7,
              38,
              36.9,
              33.3,
              27.5,
              23.1,
              22,
              21.8,
              21.2,
              20.9,
              21.4,
              21.1,
              20,
              18.7,
              18,
              17.7,
              17.2,
              16.8,
              16.6,
              16,
              15.9,
              15.4,
              14.9,
              15.2,
              14.9,
              14.2,
              13.7,
              14.3,
              14.6,
              16.1,
              18.5,
              20.6,
              21.8,
              22.9,
              23.5,
              23.6,
              22.7,
              21.6,
              22.1,
              22.5,
              22.2,
              20.8,
              22.6,
              25,
              26.2,
              27.3,
              25.8,
              26.2,
              26.8,
              27.3,
              28.1,
              28.8,
              29.4,
              30.4,
              32,
              34,
              34.5,
              33.6,
              33.8,
              34.2,
              34.3,
              33.8,
              33,
              32.9,
              32.3,
              31.8,
              29.7,
              25.1,
              23.3,
              22,
              20.9,
              20,
              18.7,
              17.4,
              16.4,
              15.5,
              14.8,
              14.1,
              14.2,
              14.8,
              15.2,
              15.3,
              15.6,
              16,
              15.8,
              15.3,
              15,
              14.7,
              14.5,
              14.2,
              13.9,
              13.8,
              13.9,
              13.9,
              13.9,
              13.7,
              13.4,
              12.9,
              12.6,
              11.9,
              11.5,
              12.1,
              13.4,
              14.6,
              15.9,
              17.1,
              17.8,
              18.2,
              17.7,
              17.2,
              17,
              17.1,
              17.3,
              17.2,
              17.5,
              17.9,
              18.4,
              18.3,
              18.1,
              17.2,
              15.6,
              13.6,
              11.9,
              10.9,
              10,
              9.8,
              10.2,
              11.1,
              11.9,
              12.4,
              12.7,
              12.7,
              12.4,
              11.8,
              11.4,
              11,
              10.8,
              10.5,
              10,
              9.7,
              9.3,
              9.2,
              9.1,
              9.1,
              9,
              8.7,
              8.7,
              8.9,
              9.2,
              10,
              11.5,
              13.3,
              15,
              16.4,
              17.8,
              18.7,
              19,
              18.8,
              18.7,
              18.9,
              19.2,
              19.5,
              19.8,
              19.9
            ],
            "precipitation": [
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              1.4,
              0.4,
              0.1,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.4,
              0,
              0,
              0,
              0,
              0,
              0.1,
              0,
              0,
              0.1,
              0.2,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.1,
              0,
              0,
              0,
              0.2,
              0.5,
              0.5,
              0.3,
              0.1,
              0.1,
              0.1,
              0.1,
              0.1,
              0.1,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.1,
              0.1,
              0.1,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0
            ],
            "snowfall": [
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.63,
              0.21,
              0.07,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.21,
              0,
              0,
              0,
              0,
              0,
              0.07,
              0,
              0,
              0.07,
              0.07,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.14,
              0.21,
              0.21,
              0.14,
              0.07,
              0.07,
              0,
              0.07,
              0.07,
              0.07,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.07,
              0.07,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "latitude": 42.924957,
          "longitude": -87.86587,
          "generationtime_ms": 0.2846717834472656,
          "utc_offset_seconds": -21600,
          "timezone": "America/Chicago",
          "timezone_abbreviation": "GMT-6",
          "elevation": 207,
          "current_units": {
            "time": "iso8601",
            "interval": "seconds",
            "temperature_2m": "°F",
            "precipitation": "mm",
            "weather_code": "wmo code"
          },
          "current": {
            "time": "2026-01-14T07:45",
            "interval": 900,
            "temperature_2m": 20.2,
            "precipitation": 0,
            "weather_code": 3
          },
          "hourly_units": {
            "time": "iso8601",
            "temperature_2m": "°F",
            "precipitation": "mm",
            "snowfall": "cm"
          },
          "hourly": {
            "time": [
              "2026-01-14T00:00",
              "2026-01-14T01:00",
              "2026-01-14T02:00",
              "2026-01-14T03:00",
              "2026-01-14T04:00",
              "2026-01-14T05:00",
              "2026-01-14T06:00",
              "2026-01-14T07:00",
              "2026-01-14T08:00",
              "2026-01-14T09:00",
              "2026-01-14T10:00",
              "2026-01-14T11:00",
              "2026-01-14T12:00",
              "2026-01-14T13:00",
              "2026-01-14T14:00",
              "2026-01-14T15:00",
              "2026-01-14T16:00",
              "2026-01-14T17:00",
              "2026-01-14T18:00",
              "2026-01-14T19:00",
              "2026-01-14T20:00",
              "2026-01-14T21:00",
              "2026-01-14T22:00",
              "2026-01-14T23:00",
              "2026-01-15T00:00",
              "2026-01-15T01:00",
              "2026-01-15T02:00",
              "2026-01-15T03:00",
              "2026-01-15T04:00",
              "2026-01-15T05:00",
              "2026-01-15T06:00",
              "2026-01-15T07:00",
              "2026-01-15T08:00",
              "2026-01-15T09:00",
              "2026-01-15T10:00",
              "2026-01-15T11:00",
              "2026-01-15T12:00",
              "2026-01-15T13:00",
              "2026-01-15T14:00",
              "2026-01-15T15:00",
              "2026-01-15T16:00",
              "2026-01-15T17:00",
              "2026-01-15T18:00",
              "2026-01-15T19:00",
              "2026-01-15T20:00",
              "2026-01-15T21:00",
              "2026-01-15T22:00",
              "2026-01-15T23:00",
              "2026-01-16T00:00",
              "2026-01-16T01:00",
              "2026-01-16T02:00",
              "2026-01-16T03:00",
              "2026-01-16T04:00",
              "2026-01-16T05:00",
              "2026-01-16T06:00",
              "2026-01-16T07:00",
              "2026-01-16T08:00",
              "2026-01-16T09:00",
              "2026-01-16T10:00",
              "2026-01-16T11:00",
              "2026-01-16T12:00",
              "2026-01-16T13:00",
              "2026-01-16T14:00",
              "2026-01-16T15:00",
              "2026-01-16T16:00",
              "2026-01-16T17:00",
              "2026-01-16T18:00",
              "2026-01-16T19:00",
              "2026-01-16T20:00",
              "2026-01-16T21:00",
              "2026-01-16T22:00",
              "2026-01-16T23:00",
              "2026-01-17T00:00",
              "2026-01-17T01:00",
              "2026-01-17T02:00",
              "2026-01-17T03:00",
              "2026-01-17T04:00",
              "2026-01-17T05:00",
              "2026-01-17T06:00",
              "2026-01-17T07:00",
              "2026-01-17T08:00",
              "2026-01-17T09:00",
              "2026-01-17T10:00",
              "2026-01-17T11:00",
              "2026-01-17T12:00",
              "2026-01-17T13:00",
              "2026-01-17T14:00",
              "2026-01-17T15:00",
              "2026-01-17T16:00",
              "2026-01-17T17:00",
              "2026-01-17T18:00",
              "2026-01-17T19:00",
              "2026-01-17T20:00",
              "2026-01-17T21:00",
              "2026-01-17T22:00",
              "2026-01-17T23:00",
              "2026-01-18T00:00",
              "2026-01-18T01:00",
              "2026-01-18T02:00",
              "2026-01-18T03:00",
              "2026-01-18T04:00",
              "2026-01-18T05:00",
              "2026-01-18T06:00",
              "2026-01-18T07:00",
              "2026-01-18T08:00",
              "2026-01-18T09:00",
              "2026-01-18T10:00",
              "2026-01-18T11:00",
              "2026-01-18T12:00",
              "2026-01-18T13:00",
              "2026-01-18T14:00",
              "2026-01-18T15:00",
              "2026-01-18T16:00",
              "2026-01-18T17:00",
              "2026-01-18T18:00",
              "2026-01-18T19:00",
              "2026-01-18T20:00",
              "2026-01-18T21:00",
              "2026-01-18T22:00",
              "2026-01-18T23:00",
              "2026-01-19T00:00",
              "2026-01-19T01:00",
              "2026-01-19T02:00",
              "2026-01-19T03:00",
              "2026-01-19T04:00",
              "2026-01-19T05:00",
              "2026-01-19T06:00",
              "2026-01-19T07:00",
              "2026-01-19T08:00",
              "2026-01-19T09:00",
              "2026-01-19T10:00",
              "2026-01-19T11:00",
              "2026-01-19T12:00",
              "2026-01-19T13:00",
              "2026-01-19T14:00",
              "2026-01-19T15:00",
              "2026-01-19T16:00",
              "2026-01-19T17:00",
              "2026-01-19T18:00",
              "2026-01-19T19:00",
              "2026-01-19T20:00",
              "2026-01-19T21:00",
              "2026-01-19T22:00",
              "2026-01-19T23:00",
              "2026-01-20T00:00",
              "2026-01-20T01:00",
              "2026-01-20T02:00",
              "2026-01-20T03:00",
              "2026-01-20T04:00",
              "2026-01-20T05:00",
              "2026-01-20T06:00",
              "2026-01-20T07:00",
              "2026-01-20T08:00",
              "2026-01-20T09:00",
              "2026-01-20T10:00",
              "2026-01-20T11:00",
              "2026-01-20T12:00",
              "2026-01-20T13:00",
              "2026-01-20T14:00",
              "2026-01-20T15:00",
              "2026-01-20T16:00",
              "2026-01-20T17:00",
              "2026-01-20T18:00",
              "2026-01-20T19:00",
              "2026-01-20T20:00",
              "2026-01-20T21:00",
              "2026-01-20T22:00",
              "2026-01-20T23:00"
            ],
            "temperature_2m": [
              39.1,
              38.8,
              38,
              37.1,
              36.6,
              34,
              28.6,
              22.6,
              21.1,
              19.6,
              19.8,
              18.8,
              18.8,
              18.2,
              18.3,
              18.7,
              18.8,
              18.2,
              17.4,
              17.1,
              15.9,
              15.7,
              16,
              16.4,
              15.7,
              15.2,
              14.8,
              14.7,
              14.4,
              13.5,
              13.2,
              12.3,
              12.9,
              14.8,
              16.7,
              18.9,
              20.3,
              21.3,
              22.3,
              22.1,
              21.9,
              21.4,
              21.3,
              21.1,
              19.3,
              19.2,
              20.8,
              23.3,
              24.7,
              25.1,
              25.5,
              25.1,
              25.4,
              26.2,
              26.8,
              27.3,
              27.8,
              30.2,
              33.3,
              34,
              33.6,
              33.1,
              33.6,
              34.4,
              33.6,
              32.3,
              31.1,
              30.6,
              29,
              26.3,
              25.2,
              23.6,
              22.7,
              21.5,
              20.5,
              19.6,
              18.4,
              17.3,
              16.6,
              16,
              15.4,
              15.2,
              15.4,
              15.9,
              16.4,
              16.9,
              16.9,
              17,
              16.6,
              16.2,
              15.9,
              15.7,
              15.7,
              15.3,
              15.4,
              15.5,
              14.6,
              13.7,
              12.7,
              11.5,
              10.7,
              10,
              9.4,
              9,
              8.8,
              9.2,
              10.8,
              12.5,
              13.9,
              15.2,
              16.1,
              16.6,
              16.2,
              15.7,
              15.9,
              16,
              16.4,
              16.4,
              16.8,
              16.7,
              16.4,
              15.2,
              13.5,
              11.8,
              10.3,
              8.9,
              7.7,
              6.8,
              6.2,
              5.9,
              6.2,
              6.9,
              7.6,
              8.3,
              9.1,
              9.4,
              9.2,
              8.5,
              8,
              7.7,
              7.4,
              7.2,
              6.8,
              6.5,
              6.1,
              5.6,
              5.1,
              4.7,
              4.5,
              4.4,
              4.6,
              5,
              5.7,
              6.8,
              8.5,
              10.5,
              12.2,
              13.5,
              14.4,
              14.9,
              14.9,
              14.5,
              14.1,
              14,
              13.9,
              13.7,
              13.2,
              12.5
            ],
            "precipitation": [
              0,
              0,
              0,
              0,
              0,
              0,
              0.9,
              0.7,
              0,
              0,
              0,
              0,
              0.1,
              0.1,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.4,
              0.7,
              0,
              0,
              0,
              0,
              0,
              0,
              0.2,
              0.5,
              0.1,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.1,
              0.2,
              0.2,
              0.2,
              0.2,
              0.2,
              0.2,
              0.1,
              0.1,
              0,
              0,
              0,
              0,
              0,
              0.1,
              0.1,
              0.1,
              0.1,
              0.1,
              0.1,
              0.1,
              0.1,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0
            ],
            "snowfall": [
              0,
              0,
              0,
              0,
              0,
              0,
              0.42,
              0.35,
              0,
              0,
              0,
              0,
              0.07,
              0.07,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.21,
              0.35,
              0,
              0,
              0,
              0,
              0,
              0,
              0.07,
              0.21,
              0.07,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.07,
              0.14,
              0.14,
              0.07,
              0.07,
              0.07,
              0.07,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.07,
              0,
              0.07,
              0.07,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0
            ]
          }
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "latitude": 42.045883,
          "longitude": -87.698616,
          "generationtime_ms": 0.20587444305419922,
          "utc_offset_seconds": -21600,
          "timezone": "America/Chicago",
          "timezone_abbreviation": "GMT-6",
          "elevation": 191,
          "current_units": {
            "time": "iso8601",
            "interval": "seconds",
            "temperature_2m": "°F",
            "precipitation": "mm",
            "weather_code": "wmo code"
          },
          "current": {
            "time": "2026-01-14T07:45",
            "interval": 900,
            "temperature_2m": 27.3,
            "precipitation": 0.2,
            "weather_code": 73
          },
          "hourly_units": {
            "time": "iso8601",
            "temperature_2m": "°F",
            "precipitation": "mm",
            "snowfall": "cm"
          },
          "hourly": {
            "time": [
              "2026-01-14T00:00",
              "2026-01-14T01:00",
              "2026-01-14T02:00",
              "2026-01-14T03:00",
              "2026-01-14T04:00",
              "2026-01-14T05:00",
              "2026-01-14T06:00",
              "2026-01-14T07:00",
              "2026-01-14T08:00",
              "2026-01-14T09:00",
              "2026-01-14T10:00",
              "2026-01-14T11:00",
              "2026-01-14T12:00",
              "2026-01-14T13:00",
              "2026-01-14T14:00",
              "2026-01-14T15:00",
              "2026-01-14T16:00",
              "2026-01-14T17:00",
              "2026-01-14T18:00",
              "2026-01-14T19:00",
              "2026-01-14T20:00",
              "2026-01-14T21:00",
              "2026-01-14T22:00",
              "2026-01-14T23:00",
              "2026-01-15T00:00",
              "2026-01-15T01:00",
              "2026-01-15T02:00",
              "2026-01-15T03:00",
              "2026-01-15T04:00",
              "2026-01-15T05:00",
              "2026-01-15T06:00",
              "2026-01-15T07:00",
              "2026-01-15T08:00",
              "2026-01-15T09:00",
              "2026-01-15T10:00",
              "2026-01-15T11:00",
              "2026-01-15T12:00",
              "2026-01-15T13:00",
              "2026-01-15T14:00",
              "2026-01-15T15:00",
              "2026-01-15T16:00",
              "2026-01-15T17:00",
              "2026-01-15T18:00",
              "2026-01-15T19:00",
              "2026-01-15T20:00",
              "2026-01-15T21:00",
              "2026-01-15T22:00",
              "2026-01-15T23:00",
              "2026-01-16T00:00",
              "2026-01-16T01:00",
              "2026-01-16T02:00",
              "2026-01-16T03:00",
              "2026-01-16T04:00",
              "2026-01-16T05:00",
              "2026-01-16T06:00",
              "2026-01-16T07:00",
              "2026-01-16T08:00",
              "2026-01-16T09:00",
              "2026-01-16T10:00",
              "2026-01-16T11:00",
              "2026-01-16T12:00",
              "2026-01-16T13:00",
              "2026-01-16T14:00",
              "2026-01-16T15:00",
              "2026-01-16T16:00",
              "2026-01-16T17:00",
              "2026-01-16T18:00",
              "2026-01-16T19:00",
              "2026-01-16T20:00",
              "2026-01-16T21:00",
              "2026-01-16T22:00",
              "2026-01-16T23:00",
              "2026-01-17T00:00",
              "2026-01-17T01:00",
              "2026-01-17T02:00",
              "2026-01-17T03:00",
              "2026-01-17T04:00",
              "2026-01-17T05:00",
              "2026-01-17T06:00",
              "2026-01-17T07:00",
              "2026-01-17T08:00",
              "2026-01-17T09:00",
              "2026-01-17T10:00",
              "2026-01-17T11:00",
              "2026-01-17T12:00",
              "2026-01-17T13:00",
              "2026-01-17T14:00",
              "2026-01-17T15:00",
              "2026-01-17T16:00",
              "2026-01-17T17:00",
              "2026-01-17T18:00",
              "2026-01-17T19:00",
              "2026-01-17T20:00",
              "2026-01-17T21:00",
              "2026-01-17T22:00",
              "2026-01-17T23:00",
              "2026-01-18T00:00",
              "2026-01-18T01:00",
              "2026-01-18T02:00",
              "2026-01-18T03:00",
              "2026-01-18T04:00",
              "2026-01-18T05:00",
              "2026-01-18T06:00",
              "2026-01-18T07:00",
              "2026-01-18T08:00",
              "2026-01-18T09:00",
              "2026-01-18T10:00",
              "2026-01-18T11:00",
              "2026-01-18T12:00",
              "2026-01-18T13:00",
              "2026-01-18T14:00",
              "2026-01-18T15:00",
              "2026-01-18T16:00",
              "2026-01-18T17:00",
              "2026-01-18T18:00",
              "2026-01-18T19:00",
              "2026-01-18T20:00",
              "2026-01-18T21:00",
              "2026-01-18T22:00",
              "2026-01-18T23:00",
              "2026-01-19T00:00",
              "2026-01-19T01:00",
              "2026-01-19T02:00",
              "2026-01-19T03:00",
              "2026-01-19T04:00",
              "2026-01-19T05:00",
              "2026-01-19T06:00",
              "2026-01-19T07:00",
              "2026-01-19T08:00",
              "2026-01-19T09:00",
              "2026-01-19T10:00",
              "2026-01-19T11:00",
              "2026-01-19T12:00",
              "2026-01-19T13:00",
              "2026-01-19T14:00",
              "2026-01-19T15:00",
              "2026-01-19T16:00",
              "2026-01-19T17:00",
              "2026-01-19T18:00",
              "2026-01-19T19:00",
              "2026-01-19T20:00",
              "2026-01-19T21:00",
              "2026-01-19T22:00",
              "2026-01-19T23:00",
              "2026-01-20T00:00",
              "2026-01-20T01:00",
              "2026-01-20T02:00",
              "2026-01-20T03:00",
              "2026-01-20T04:00",
              "2026-01-20T05:00",
              "2026-01-20T06:00",
              "2026-01-20T07:00",
              "2026-01-20T08:00",
              "2026-01-20T09:00",
              "2026-01-20T10:00",
              "2026-01-20T11:00",
              "2026-01-20T12:00",
              "2026-01-20T13:00",
              "2026-01-20T14:00",
              "2026-01-20T15:00",
              "2026-01-20T16:00",
              "2026-01-20T17:00",
              "2026-01-20T18:00",
              "2026-01-20T19:00",
              "2026-01-20T20:00",
              "2026-01-20T21:00",
              "2026-01-20T22:00",
              "2026-01-20T23:00"
            ],
            "temperature_2m": [
              39.1,
              38.2,
              36.9,
              36.2,
              37.1,
              37.5,
              36.4,
              32.3,
              26.6,
              22.4,
              21.8,
              21.7,
              21.3,
              21.3,
              21.2,
              20.9,
              19.7,
              18.7,
              18,
              17.4,
              17,
              17.3,
              16.6,
              15.9,
              16.1,
              15.6,
              15.3,
              15.4,
              14.8,
              14,
              13.6,
              13.3,
              14.1,
              16,
              18.7,
              20.2,
              21.7,
              22.6,
              23.1,
              23.1,
              22.6,
              22,
              22.1,
              22.5,
              21.5,
              20.8,
              22.5,
              25.1,
              26,
              27.4,
              25.9,
              26.5,
              27,
              27.4,
              28,
              28.8,
              29.4,
              30.7,
              32.4,
              34.2,
              34.2,
              33.7,
              34,
              34.3,
              34.4,
              34,
              33.5,
              33,
              32.3,
              32,
              30.1,
              25.8,
              23.6,
              22.4,
              21.4,
              20.4,
              19.1,
              17.8,
              16.7,
              15.9,
              15.1,
              14.7,
              14.8,
              15.4,
              15.5,
              16.1,
              16.3,
              16.2,
              16,
              15.6,
              15.3,
              15.1,
              14.9,
              14.6,
              14.5,
              14.5,
              14.4,
              14.5,
              14.6,
              14.3,
              14,
              13.4,
              12.7,
              12.3,
              11.5,
              12.1,
              13.3,
              14.7,
              16,
              17.2,
              18,
              18.6,
              17.9,
              17.5,
              17.3,
              17.4,
              17.6,
              17.5,
              17.8,
              18.2,
              18.7,
              18.5,
              17.9,
              17,
              15.4,
              13.4,
              11.8,
              10.7,
              10,
              9.7,
              10.2,
              11,
              11.8,
              12.4,
              12.8,
              13,
              12.6,
              12,
              11.4,
              11,
              10.7,
              10.5,
              10.1,
              9.7,
              9.4,
              9.2,
              9.1,
              9,
              8.8,
              8.6,
              8.6,
              8.8,
              9.2,
              10,
              11.4,
              13.2,
              14.8,
              16.2,
              17.7,
              18.6,
              18.7,
              18.6,
              18.4,
              18.6,
              18.8,
              19.1,
              19.4,
              19.6
            ],
            "precipitation": [
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.6,
              0.9,
              0.1,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.4,
              0.4,
              0,
              0,
              0,
              0,
              0,
              0.1,
              0,
              0,
              0.2,
              0.1,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.1,
              0,
              0,
              0,
              0,
              0.3,
              0.5,
              0.4,
              0.1,
              0.1,
              0.1,
              0.1,
              0.1,
              0.1,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.1,
              0.1,
              0.1,
              0.1,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0
            ],
            "snowfall": [
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.28,
              0.42,
              0.07,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.21,
              0.21,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.07,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.14,
              0.21,
              0.21,
              0.07,
              0.07,
              0.07,
              0.07,
              0.07,
              0.07,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.07,
              0.07,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0
            ]
          }
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "latitude": 43.062744,
          "longitude": -89.43613,
          "generationtime_ms": 0.2690553665161133,
          "utc_offset_seconds": -21600,
          "timezone": "America/Chicago",
          "timezone_abbreviation": "GMT-6",
          "elevation": 278,
          "current_units": {
            "time": "iso8601",
            "interval": "seconds",
            "temperature_2m": "°F",
            "precipitation": "mm",
            "weather_code": "wmo code"
          },
          "current": {
            "time": "2026-01-14T07:45",
            "interval": 900,
            "temperature_2m": 21.1,
            "precipitation": 0,
            "weather_code": 3
          },
          "hourly_units": {
            "time": "iso8601",
            "temperature_2m": "°F",
            "precipitation": "mm",
            "snowfall": "cm"
          },
          "hourly": {
            "time": [
              "2026-01-14T00:00",
              "2026-01-14T01:00",
              "2026-01-14T02:00",
              "2026-01-14T03:00",
              "2026-01-14T04:00",
              "2026-01-14T05:00",
              "2026-01-14T06:00",
              "2026-01-14T07:00",
              "2026-01-14T08:00",
              "2026-01-14T09:00",
              "2026-01-14T10:00",
              "2026-01-14T11:00",
              "2026-01-14T12:00",
              "2026-01-14T13:00",
              "2026-01-14T14:00",
              "2026-01-14T15:00",
              "2026-01-14T16:00",
              "2026-01-14T17:00",
              "2026-01-14T18:00",
              "2026-01-14T19:00",
              "2026-01-14T20:00",
              "2026-01-14T21:00",
              "2026-01-14T22:00",
              "2026-01-14T23:00",
              "2026-01-15T00:00",
              "2026-01-15T01:00",
              "2026-01-15T02:00",
              "2026-01-15T03:00",
              "2026-01-15T04:00",
              "2026-01-15T05:00",
              "2026-01-15T06:00",
              "2026-01-15T07:00",
              "2026-01-15T08:00",
              "2026-01-15T09:00",
              "2026-01-15T10:00",
              "2026-01-15T11:00",
              "2026-01-15T12:00",
              "2026-01-15T13:00",
              "2026-01-15T14:00",
              "2026-01-15T15:00",
              "2026-01-15T16:00",
              "2026-01-15T17:00",
              "2026-01-15T18:00",
              "2026-01-15T19:00",
              "2026-01-15T20:00",
              "2026-01-15T21:00",
              "2026-01-15T22:00",
              "2026-01-15T23:00",
              "2026-01-16T00:00",
              "2026-01-16T01:00",
              "2026-01-16T02:00",
              "2026-01-16T03:00",
              "2026-01-16T04:00",
              "2026-01-16T05:00",
              "2026-01-16T06:00",
              "2026-01-16T07:00",
              "2026-01-16T08:00",
              "2026-01-16T09:00",
              "2026-01-16T10:00",
              "2026-01-16T11:00",
              "2026-01-16T12:00",
              "2026-01-16T13:00",
              "2026-01-16T14:00",
              "2026-01-16T15:00",
              "2026-01-16T16:00",
              "2026-01-16T17:00",
              "2026-01-16T18:00",
              "2026-01-16T19:00",
              "2026-01-16T20:00",
              "2026-01-16T21:00",
              "2026-01-16T22:00",
              "2026-01-16T23:00",
              "2026-01-17T00:00",
              "2026-01-17T01:00",
              "2026-01-17T02:00",
              "2026-01-17T03:00",
              "2026-01-17T04:00",
              "2026-01-17T05:00",
              "2026-01-17T06:00",
              "2026-01-17T07:00",
              "2026-01-17T08:00",
              "2026-01-17T09:00",
              "2026-01-17T10:00",
              "2026-01-17T11:00",
              "2026-01-17T12:00",
              "2026-01-17T13:00",
              "2026-01-17T14:00",
              "2026-01-17T15:00",
              "2026-01-17T16:00",
              "2026-01-17T17:00",
              "2026-01-17T18:00",
              "2026-01-17T19:00",
              "2026-01-17T20:00",
              "2026-01-17T21:00",
              "2026-01-17T22:00",
              "2026-01-17T23:00",
              "2026-01-18T00:00",
              "2026-01-18T01:00",
              "2026-01-18T02:00",
              "2026-01-18T03:00",
              "2026-01-18T04:00",
              "2026-01-18T05:00",
              "2026-01-18T06:00",
              "2026-01-18T07:00",
              "2026-01-18T08:00",
              "2026-01-18T09:00",
              "2026-01-18T10:00",
              "2026-01-18T11:00",
              "2026-01-18T12:00",
              "2026-01-18T13:00",
              "2026-01-18T14:00",
              "2026-01-18T15:00",
              "2026-01-18T16:00",
              "2026-01-18T17:00",
              "2026-01-18T18:00",
              "2026-01-18T19:00",
              "2026-01-18T20:00",
              "2026-01-18T21:00",
              "2026-01-18T22:00",
              "2026-01-18T23:00",
              "2026-01-19T00:00",
              "2026-01-19T01:00",
              "2026-01-19T02:00",
              "2026-01-19T03:00",
              "2026-01-19T04:00",
              "2026-01-19T05:00",
              "2026-01-19T06:00",
              "2026-01-19T07:00",
              "2026-01-19T08:00",
              "2026-01-19T09:00",
              "2026-01-19T10:00",
              "2026-01-19T11:00",
              "2026-01-19T12:00",
              "2026-01-19T13:00",
              "2026-01-19T14:00",
              "2026-01-19T15:00",
              "2026-01-19T16:00",
              "2026-01-19T17:00",
              "2026-01-19T18:00",
              "2026-01-19T19:00",
              "2026-01-19T20:00",
              "2026-01-19T21:00",
              "2026-01-19T22:00",
              "2026-01-19T23:00",
              "2026-01-20T00:00",
              "2026-01-20T01:00",
              "2026-01-20T02:00",
              "2026-01-20T03:00",
              "2026-01-20T04:00",
              "2026-01-20T05:00",
              "2026-01-20T06:00",
              "2026-01-20T07:00",
              "2026-01-20T08:00",
              "2026-01-20T09:00",
              "2026-01-20T10:00",
              "2026-01-20T11:00",
              "2026-01-20T12:00",
              "2026-01-20T13:00",
              "2026-01-20T14:00",
              "2026-01-20T15:00",
              "2026-01-20T16:00",
              "2026-01-20T17:00",
              "2026-01-20T18:00",
              "2026-01-20T19:00",
              "2026-01-20T20:00",
              "2026-01-20T21:00",
              "2026-01-20T22:00",
              "2026-01-20T23:00"
            ],
            "temperature_2m": [
              39.4,
              37.4,
              37.2,
              35.8,
              33.8,
              30.7,
              25.5,
              22.4,
              21,
              20.5,
              19.2,
              18.8,
              18.3,
              18.6,
              19.4,
              20.1,
              19.7,
              19.1,
              18.3,
              17.4,
              16.6,
              16.7,
              16.5,
              16,
              14.4,
              14,
              14.5,
              14.3,
              14.1,
              14,
              13.8,
              13.1,
              13,
              13.9,
              15.4,
              16.7,
              18.4,
              20.4,
              21.5,
              21.9,
              22.2,
              20.2,
              18.5,
              18.6,
              19.6,
              21.5,
              22.8,
              24.9,
              25.6,
              26.3,
              27.5,
              24.5,
              25.1,
              25.8,
              28.9,
              30.3,
              30.7,
              31.4,
              31.6,
              31.4,
              32.2,
              33.6,
              34,
              32.9,
              31.3,
              28.5,
              24.1,
              21.6,
              19.6,
              18,
              16.6,
              15.7,
              14.8,
              13.9,
              13,
              12.2,
              11.3,
              10.3,
              9.7,
              9.3,
              9,
              9.2,
              10.1,
              10.9,
              11.8,
              12.5,
              12.8,
              12.8,
              12.5,
              12,
              11.4,
              11.1,
              10.8,
              10.3,
              9.7,
              9.2,
              8.5,
              7.7,
              6.9,
              6.2,
              5.8,
              5.5,
              5,
              4.8,
              4.7,
              5.9,
              7.8,
              9.8,
              11.8,
              13.5,
              14.2,
              14.8,
              14.7,
              14.5,
              14.8,
              14.8,
              14.9,
              15.3,
              15.8,
              15.4,
              12.3,
              11.1,
              9.8,
              8.5,
              7.1,
              5.8,
              4.8,
              3.8,
              3.1,
              2.9,
              3.7,
              5.1,
              6.3,
              7,
              7.6,
              7.8,
              7.6,
              6.9,
              6.3,
              5.8,
              5.1,
              4.7,
              4.4,
              4.1,
              4,
              3.7,
              3.5,
              3.3,
              3.2,
              3.3,
              3.6,
              4,
              4.8,
              5.8,
              7.6,
              9.6,
              11.4,
              12.9,
              14.1,
              14.8,
              14.7,
              14,
              13.5,
              13.4,
              13.5,
              13.4,
              13,
              12.6
            ],
            "precipitation": [
              0,
              0,
              0,
              0,
              0,
              0,
              0.4,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.4,
              0.7,
              0,
              0,
              0,
              0,
              0.2,
              0,
              0,
              0.1,
              0.4,
              0.3,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.1,
              0.1,
              0.2,
              0.2,
              0.1,
              0.1,
              0.1,
              0,
              0,
              0,
              0,
              0,
              0,
              0.1,
              0,
              0.1,
              0.1,
              0.1,
              0.1,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0
            ],
            "snowfall": [
              0,
              0,
              0,
              0,
              0,
              0,
              0.21,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.21,
              0.35,
              0,
              0,
              0,
              0,
              0.11,
              0,
              0,
              0.07,
              0.21,
              0.14,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.07,
              0.07,
              0.07,
              0.07,
              0.07,
              0.07,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0
            ]
          }
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "latitude": 44.96949,
          "longitude": -93.26296,
          "generationtime_ms": 0.2537965774536133,
          "utc_offset_seconds": -21600,
          "timezone": "America/Chicago",
          "timezone_abbreviation": "GMT-6",
          "elevation": 251,
          "current_units": {
            "time": "iso8601",
            "interval": "seconds",
            "temperature_2m": "°F",
            "precipitation": "mm",
            "weather_code": "wmo code"
          },
          "current": {
            "time": "2026-01-14T07:45",
            "interval": 900,
            "temperature_2m": 13.9,
            "precipitation": 0,
            "weather_code": 1
          },
          "hourly_units": {
            "time": "iso8601",
            "temperature_2m": "°F",
            "precipitation": "mm",
            "snowfall": "cm"
          },
          "hourly": {
            "time": [
              "2026-01-14T00:00",
              "2026-01-14T01:00",
              "2026-01-14T02:00",
              "2026-01-14T03:00",
              "2026-01-14T04:00",
              "2026-01-14T05:00",
              "2026-01-14T06:00",
              "2026-01-14T07:00",
              "2026-01-14T08:00",
              "2026-01-14T09:00",
              "2026-01-14T10:00",
              "2026-01-14T11:00",
              "2026-01-14T12:00",
              "2026-01-14T13:00",
              "2026-01-14T14:00",
              "2026-01-14T15:00",
              "2026-01-14T16:00",
              "2026-01-14T17:00",
              "2026-01-14T18:00",
              "2026-01-14T19:00",
              "2026-01-14T20:00",
              "2026-01-14T21:00",
              "2026-01-14T22:00",
              "2026-01-14T23:00",
              "2026-01-15T00:00",
              "2026-01-15T01:00",
              "2026-01-15T02:00",
              "2026-01-15T03:00",
              "2026-01-15T04:00",
              "2026-01-15T05:00",
              "2026-01-15T06:00",
              "2026-01-15T07:00",
              "2026-01-15T08:00",
              "2026-01-15T09:00",
              "2026-01-15T10:00",
              "2026-01-15T11:00",
              "2026-01-15T12:00",
              "2026-01-15T13:00",
              "2026-01-15T14:00",
              "2026-01-15T15:00",
              "2026-01-15T16:00",
              "2026-01-15T17:00",
              "2026-01-15T18:00",
              "2026-01-15T19:00",
              "2026-01-15T20:00",
              "2026-01-15T21:00",
              "2026-01-15T22:00",
              "2026-01-15T23:00",
              "2026-01-16T00:00",
              "2026-01-16T01:00",
              "2026-01-16T02:00",
              "2026-01-16T03:00",
              "2026-01-16T04:00",
              "2026-01-16T05:00",
              "2026-01-16T06:00",
              "2026-01-16T07:00",
              "2026-01-16T08:00",
              "2026-01-16T09:00",
              "2026-01-16T10:00",
              "2026-01-16T11:00",
              "2026-01-16T12:00",
              "2026-01-16T13:00",
              "2026-01-16T14:00",
              "2026-01-16T15:00",
              "2026-01-16T16:00",
              "2026-01-16T17:00",
              "2026-01-16T18:00",
              "2026-01-16T19:00",
              "2026-01-16T20:00",
              "2026-01-16T21:00",
              "2026-01-16T22:00",
              "2026-01-16T23:00",
              "2026-01-17T00:00",
              "2026-01-17T01:00",
              "2026-01-17T02:00",
              "2026-01-17T03:00",
              "2026-01-17T04:00",
              "2026-01-17T05:00",
              "2026-01-17T06:00",
              "2026-01-17T07:00",
              "2026-01-17T08:00",
              "2026-01-17T09:00",
              "2026-01-17T10:00",
              "2026-01-17T11:00",
              "2026-01-17T12:00",
              "2026-01-17T13:00",
              "2026-01-17T14:00",
              "2026-01-17T15:00",
              "2026-01-17T16:00",
              "2026-01-17T17:00",
              "2026-01-17T18:00",
              "2026-01-17T19:00",
              "2026-01-17T20:00",
              "2026-01-17T21:00",
              "2026-01-17T22:00",
              "2026-01-17T23:00",
              "2026-01-18T00:00",
              "2026-01-18T01:00",
              "2026-01-18T02:00",
              "2026-01-18T03:00",
              "2026-01-18T04:00",
              "2026-01-18T05:00",
              "2026-01-18T06:00",
              "2026-01-18T07:00",
              "2026-01-18T08:00",
              "2026-01-18T09:00",
              "2026-01-18T10:00",
              "2026-01-18T11:00",
              "2026-01-18T12:00",
              "2026-01-18T13:00",
              "2026-01-18T14:00",
              "2026-01-18T15:00",
              "2026-01-18T16:00",
              "2026-01-18T17:00",
              "2026-01-18T18:00",
              "2026-01-18T19:00",
              "2026-01-18T20:00",
              "2026-01-18T21:00",
              "2026-01-18T22:00",
              "2026-01-18T23:00",
              "2026-01-19T00:00",
              "2026-01-19T01:00",
              "2026-01-19T02:00",
              "2026-01-19T03:00",
              "2026-01-19T04:00",
              "2026-01-19T05:00",
              "2026-01-19T06:00",
              "2026-01-19T07:00",
              "2026-01-19T08:00",
              "2026-01-19T09:00",
              "2026-01-19T10:00",
              "2026-01-19T11:00",
              "2026-01-19T12:00",
              "2026-01-19T13:00",
              "2026-01-19T14:00",
              "2026-01-19T15:00",
              "2026-01-19T16:00",
              "2026-01-19T17:00",
              "2026-01-19T18:00",
              "2026-01-19T19:00",
              "2026-01-19T20:00",
              "2026-01-19T21:00",
              "2026-01-19T22:00",
              "2026-01-19T23:00",
              "2026-01-20T00:00",
              "2026-01-20T01:00",
              "2026-01-20T02:00",
              "2026-01-20T03:00",
              "2026-01-20T04:00",
              "2026-01-20T05:00",
              "2026-01-20T06:00",
              "2026-01-20T07:00",
              "2026-01-20T08:00",
              "2026-01-20T09:00",
              "2026-01-20T10:00",
              "2026-01-20T11:00",
              "2026-01-20T12:00",
              "2026-01-20T13:00",
              "2026-01-20T14:00",
              "2026-01-20T15:00",
              "2026-01-20T16:00",
              "2026-01-20T17:00",
              "2026-01-20T18:00",
              "2026-01-20T19:00",
              "2026-01-20T20:00",
              "2026-01-20T21:00",
              "2026-01-20T22:00",
              "2026-01-20T23:00"
            ],
            "temperature_2m": [
              31.3,
              28.4,
              25.7,
              22.6,
              20.3,
              18.4,
              17,
              14.8,
              13.8,
              13.8,
              14.7,
              15.9,
              17.5,
              18.8,
              19.9,
              21,
              21.1,
              19.5,
              17.9,
              16.6,
              15,
              13.8,
              12.6,
              11.5,
              10.9,
              10,
              9.3,
              9.2,
              9.2,
              10.7,
              12.1,
              11.8,
              13,
              14.8,
              16,
              17.8,
              18.9,
              20.9,
              23.1,
              26.6,
              28.3,
              29.1,
              31.2,
              31.2,
              31.2,
              30.1,
              30.2,
              30.6,
              31.1,
              32.6,
              32.5,
              32.3,
              31.7,
              30.7,
              30.6,
              29.5,
              28.9,
              27.5,
              24.2,
              18.9,
              16.5,
              14.5,
              13.4,
              12.7,
              11.7,
              10.6,
              9.7,
              8.7,
              7.4,
              6.3,
              5.7,
              5.2,
              5.2,
              4.9,
              4.5,
              4.3,
              3.9,
              3.1,
              2.7,
              2.2,
              1.7,
              1.8,
              2.5,
              3.2,
              3.6,
              4.3,
              4.6,
              4.7,
              4.4,
              3.6,
              2.6,
              1.8,
              0.7,
              -0.9,
              -1.2,
              -1.5,
              -2.1,
              -2.2,
              -1.9,
              -1.9,
              -1.3,
              -0.6,
              0,
              0.7,
              1.6,
              3,
              5.3,
              7.8,
              10.1,
              12.2,
              15.1,
              16.9,
              16.4,
              14.3,
              12.8,
              10.8,
              9.7,
              8.7,
              7.3,
              6.1,
              5.2,
              4,
              2.9,
              2,
              1.3,
              0.7,
              0.3,
              -0.2,
              -0.7,
              -0.7,
              0.1,
              1.4,
              2.5,
              3.4,
              4.2,
              4.4,
              4,
              3.1,
              2.4,
              2.2,
              2.3,
              2.4,
              2.4,
              2.3,
              2.3,
              2.3,
              2.3,
              2.4,
              2.5,
              2.5,
              2.7,
              2.9,
              3.1,
              3.7,
              5.1,
              6.7,
              8.1,
              9,
              9.7,
              10.1,
              10.3,
              10.3,
              10,
              9.5,
              8.8,
              8,
              7.2,
              6.4
            ],
            "precipitation": [
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.4,
              0.4,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.08,
              0.1,
              0.52,
              0.3,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.1,
              0.3,
              0.1,
              0.1,
              0.1,
              0.1,
              0.1,
              0.1,
              0.1,
              0.1,
              0,
              0,
              0,
              0,
              0,
              0.1,
              0.1,
              0.1,
              0.1,
              0.1,
              0,
              0,
              0,
              0.1,
              0.1,
              0.1,
              0.1,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0
            ],
            "snowfall": [
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.21,
              0.21,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.04,
              0.04,
              0.26,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.07,
              0.14,
              0.07,
              0.07,
              0.07,
              0.07,
              0.07,
              0.07,
              0.07,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0.07,
              0.07,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0,
              0
            ]
          }
        },
        "pairedItem": {
          "item": 4
        }
      }
    ],
    "Get NWS Alerts": [
      {
        "json": {
          "@context": [
            "https://geojson.org/geojson-ld/geojson-context.jsonld",
            {
              "@version": "1.1",
              "wx": "https://api.weather.gov/ontology#",
              "@vocab": "https://api.weather.gov/ontology#"
            }
          ],
          "type": "FeatureCollection",
          "features": [
            {
              "id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0.84e1886f4cb90dbbcfc6024c53a5a391ab9d0161.001.1",
              "type": "Feature",
              "geometry": null,
              "properties": {
                "@id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0.84e1886f4cb90dbbcfc6024c53a5a391ab9d0161.001.1",
                "@type": "wx:Alert",
                "id": "urn:oid:2.49.0.1.840.0.84e1886f4cb90dbbcfc6024c53a5a391ab9d0161.001.1",
                "areaDesc": "Kane; DuPage; Kendall; Grundy; Kankakee; Northern Cook; Central Cook; Southern Cook; Northern Will; Southern Will; Eastern Will; Lake; Porter",
                "geocode": {
                  "SAME": [
                    "017089",
                    "017043",
                    "017093",
                    "017063",
                    "017091",
                    "017031",
                    "017197",
                    "018089",
                    "018127"
                  ],
                  "UGC": [
                    "ILZ012",
                    "ILZ013",
                    "ILZ020",
                    "ILZ021",
                    "ILZ023",
                    "ILZ103",
                    "ILZ104",
                    "ILZ105",
                    "ILZ106",
                    "ILZ107",
                    "ILZ108",
                    "INZ001",
                    "INZ002"
                  ]
                },
                "affectedZones": [
                  "https://api.weather.gov/zones/forecast/ILZ012",
                  "https://api.weather.gov/zones/forecast/ILZ013",
                  "https://api.weather.gov/zones/forecast/ILZ020",
                  "https://api.weather.gov/zones/forecast/ILZ021",
                  "https://api.weather.gov/zones/forecast/ILZ023",
                  "https://api.weather.gov/zones/forecast/ILZ103",
                  "https://api.weather.gov/zones/forecast/ILZ104",
                  "https://api.weather.gov/zones/forecast/ILZ105",
                  "https://api.weather.gov/zones/forecast/ILZ106",
                  "https://api.weather.gov/zones/forecast/ILZ107",
                  "https://api.weather.gov/zones/forecast/ILZ108",
                  "https://api.weather.gov/zones/forecast/INZ001",
                  "https://api.weather.gov/zones/forecast/INZ002"
                ],
                "references": [],
                "sent": "2026-01-14T09:20:00-06:00",
                "effective": "2026-01-14T09:20:00-06:00",
                "onset": "2026-01-14T09:20:00-06:00",
                "expires": "2026-01-14T11:00:00-06:00",
                "ends": null,
                "status": "Actual",
                "messageType": "Alert",
                "category": "Met",
                "severity": "Moderate",
                "certainty": "Observed",
                "urgency": "Expected",
                "event": "Special Weather Statement",
                "sender": "w-nws.webmaster@noaa.gov",
                "senderName": "NWS Chicago IL",
                "headline": "Special Weather Statement issued January 14 at 9:20AM CST by NWS Chicago IL",
                "description": "Accumulating snow with gusty winds will continue to result in\nhazardous road conditions and poor visibility this morning. Where\nsnow is falling, visibility will briefly fall to one quarter mile\nor less. Also, icy conditions will persist with temperatures\nfalling into the lower 20s. Motorists are advised to leave extra\ntime to reach their destinations this morning and be prepared to\nencounter hazardous travel. Take it slow and keep a safe following\ndistance when driving",
                "instruction": null,
                "response": "Execute",
                "parameters": {
                  "AWIPSidentifier": [
                    "SPSLOT"
                  ],
                  "WMOidentifier": [
                    "WWUS83 KLOT 141520"
                  ],
                  "NWSheadline": [
                    "Hazardous Conditions Continue this Morning"
                  ],
                  "BLOCKCHANNEL": [
                    "EAS",
                    "NWEM",
                    "CMAS"
                  ],
                  "EAS-ORG": [
                    "WXR"
                  ]
                },
                "scope": "Public",
                "code": "IPAWSv1.0",
                "language": "en-US",
                "web": "http://www.weather.gov",
                "eventCode": {
                  "SAME": [
                    "SPS"
                  ],
                  "NationalWeatherService": [
                    "SPS"
                  ]
                }
              }
            },
            {
              "id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0.947d7e5164a2db28e3591b8bc208eb3cd0ad4ae4.001.1",
              "type": "Feature",
              "geometry": null,
              "properties": {
                "@id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0.947d7e5164a2db28e3591b8bc208eb3cd0ad4ae4.001.1",
                "@type": "wx:Alert",
                "id": "urn:oid:2.49.0.1.840.0.947d7e5164a2db28e3591b8bc208eb3cd0ad4ae4.001.1",
                "areaDesc": "Winnebago; Boone; McHenry; Lake; Ogle; Lee; De Kalb; Kane; DuPage; La Salle; Kendall; Grundy; Kankakee; Livingston; Iroquois; Ford; Northern Cook; Central Cook; Southern Cook; Northern Will; Southern Will; Eastern Will; Lake; Newton; Jasper; Benton",
                "geocode": {
                  "SAME": [
                    "017201",
                    "017007",
                    "017111",
                    "017097",
                    "017141",
                    "017103",
                    "017037",
                    "017089",
                    "017043",
                    "017099",
                    "017093",
                    "017063",
                    "017091",
                    "017105",
                    "017075",
                    "017053",
                    "017031",
                    "017197",
                    "018089",
                    "018111",
                    "018073",
                    "018007"
                  ],
                  "UGC": [
                    "ILZ003",
                    "ILZ004",
                    "ILZ005",
                    "ILZ006",
                    "ILZ008",
                    "ILZ010",
                    "ILZ011",
                    "ILZ012",
                    "ILZ013",
                    "ILZ019",
                    "ILZ020",
                    "ILZ021",
                    "ILZ023",
                    "ILZ032",
                    "ILZ033",
                    "ILZ039",
                    "ILZ103",
                    "ILZ104",
                    "ILZ105",
                    "ILZ106",
                    "ILZ107",
                    "ILZ108",
                    "INZ001",
                    "INZ010",
                    "INZ011",
                    "INZ019"
                  ]
                },
                "affectedZones": [
                  "https://api.weather.gov/zones/forecast/ILZ003",
                  "https://api.weather.gov/zones/forecast/ILZ004",
                  "https://api.weather.gov/zones/forecast/ILZ005",
                  "https://api.weather.gov/zones/forecast/ILZ006",
                  "https://api.weather.gov/zones/forecast/ILZ008",
                  "https://api.weather.gov/zones/forecast/ILZ010",
                  "https://api.weather.gov/zones/forecast/ILZ011",
                  "https://api.weather.gov/zones/forecast/ILZ012",
                  "https://api.weather.gov/zones/forecast/ILZ013",
                  "https://api.weather.gov/zones/forecast/ILZ019",
                  "https://api.weather.gov/zones/forecast/ILZ020",
                  "https://api.weather.gov/zones/forecast/ILZ021",
                  "https://api.weather.gov/zones/forecast/ILZ023",
                  "https://api.weather.gov/zones/forecast/ILZ032",
                  "https://api.weather.gov/zones/forecast/ILZ033",
                  "https://api.weather.gov/zones/forecast/ILZ039",
                  "https://api.weather.gov/zones/forecast/ILZ103",
                  "https://api.weather.gov/zones/forecast/ILZ104",
                  "https://api.weather.gov/zones/forecast/ILZ105",
                  "https://api.weather.gov/zones/forecast/ILZ106",
                  "https://api.weather.gov/zones/forecast/ILZ107",
                  "https://api.weather.gov/zones/forecast/ILZ108",
                  "https://api.weather.gov/zones/forecast/INZ001",
                  "https://api.weather.gov/zones/forecast/INZ010",
                  "https://api.weather.gov/zones/forecast/INZ011",
                  "https://api.weather.gov/zones/forecast/INZ019"
                ],
                "references": [],
                "sent": "2026-01-14T04:50:00-06:00",
                "effective": "2026-01-14T04:50:00-06:00",
                "onset": "2026-01-14T04:50:00-06:00",
                "expires": "2026-01-14T10:00:00-06:00",
                "ends": null,
                "status": "Actual",
                "messageType": "Alert",
                "category": "Met",
                "severity": "Moderate",
                "certainty": "Observed",
                "urgency": "Expected",
                "event": "Special Weather Statement",
                "sender": "w-nws.webmaster@noaa.gov",
                "senderName": "NWS Chicago IL",
                "headline": "Special Weather Statement issued January 14 at 4:50AM CST by NWS Chicago IL",
                "description": "A band of gusty snow showers along a strong cold front extended\nback to southwest Wisconsin as 4:50 AM CST. These snow showers\ncan be expected to move steadily south across the area between 6\nAM and 11 AM CST. Embedded bursts of heavier snow may tend to\nfocus east of I-39, which when paired with northerly winds\ngusting to 35 to 40 mph, may reduce visibility below one mile at\ntimes. A coating to around a half inch of snow may accumulate on\ncolder or untreated surfaces, with localized one inch amounts\npossible in far northwest Indiana.\n\nWith temperatures starting above freezing and then quickly falling\ninto the 20s with the snow, slick spots may develop on some roads.\nMotorists are advised to leave extra time to reach their destinations\nthis morning and be prepared to encounter localized hazardous travel.\nTake it slow and keep a safe following distance when driving.",
                "instruction": null,
                "response": "Execute",
                "parameters": {
                  "AWIPSidentifier": [
                    "SPSLOT"
                  ],
                  "WMOidentifier": [
                    "WWUS83 KLOT 141050"
                  ],
                  "NWSheadline": [
                    "Rapid Change to Winter Weather This Morning"
                  ],
                  "BLOCKCHANNEL": [
                    "EAS",
                    "NWEM",
                    "CMAS"
                  ],
                  "EAS-ORG": [
                    "WXR"
                  ]
                },
                "scope": "Public",
                "code": "IPAWSv1.0",
                "language": "en-US",
                "web": "http://www.weather.gov",
                "eventCode": {
                  "SAME": [
                    "SPS"
                  ],
                  "NationalWeatherService": [
                    "SPS"
                  ]
                }
              }
            }
          ],
          "title": "Current watches, warnings, and advisories for 41.906273 N, 87.645874 W",
          "updated": "2026-01-14T15:21:10+00:00"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "@context": [
            "https://geojson.org/geojson-ld/geojson-context.jsonld",
            {
              "@version": "1.1",
              "wx": "https://api.weather.gov/ontology#",
              "@vocab": "https://api.weather.gov/ontology#"
            }
          ],
          "type": "FeatureCollection",
          "features": [
            {
              "id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0.885818792b802549542ebc566b7b2364a7e5308a.001.1",
              "type": "Feature",
              "geometry": null,
              "properties": {
                "@id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0.885818792b802549542ebc566b7b2364a7e5308a.001.1",
                "@type": "wx:Alert",
                "id": "urn:oid:2.49.0.1.840.0.885818792b802549542ebc566b7b2364a7e5308a.001.1",
                "areaDesc": "Marquette; Green Lake; Fond Du Lac; Sheboygan; Sauk; Columbia; Dodge; Washington; Ozaukee; Dane; Jefferson; Waukesha; Milwaukee; Green; Rock; Walworth; Racine; Kenosha",
                "geocode": {
                  "SAME": [
                    "055077",
                    "055047",
                    "055039",
                    "055117",
                    "055111",
                    "055021",
                    "055027",
                    "055131",
                    "055089",
                    "055025",
                    "055055",
                    "055133",
                    "055079",
                    "055045",
                    "055105",
                    "055127",
                    "055101",
                    "055059"
                  ],
                  "UGC": [
                    "WIZ046",
                    "WIZ047",
                    "WIZ051",
                    "WIZ052",
                    "WIZ056",
                    "WIZ057",
                    "WIZ058",
                    "WIZ059",
                    "WIZ060",
                    "WIZ063",
                    "WIZ064",
                    "WIZ065",
                    "WIZ066",
                    "WIZ068",
                    "WIZ069",
                    "WIZ070",
                    "WIZ071",
                    "WIZ072"
                  ]
                },
                "affectedZones": [
                  "https://api.weather.gov/zones/forecast/WIZ046",
                  "https://api.weather.gov/zones/forecast/WIZ047",
                  "https://api.weather.gov/zones/forecast/WIZ051",
                  "https://api.weather.gov/zones/forecast/WIZ052",
                  "https://api.weather.gov/zones/forecast/WIZ056",
                  "https://api.weather.gov/zones/forecast/WIZ057",
                  "https://api.weather.gov/zones/forecast/WIZ058",
                  "https://api.weather.gov/zones/forecast/WIZ059",
                  "https://api.weather.gov/zones/forecast/WIZ060",
                  "https://api.weather.gov/zones/forecast/WIZ063",
                  "https://api.weather.gov/zones/forecast/WIZ064",
                  "https://api.weather.gov/zones/forecast/WIZ065",
                  "https://api.weather.gov/zones/forecast/WIZ066",
                  "https://api.weather.gov/zones/forecast/WIZ068",
                  "https://api.weather.gov/zones/forecast/WIZ069",
                  "https://api.weather.gov/zones/forecast/WIZ070",
                  "https://api.weather.gov/zones/forecast/WIZ071",
                  "https://api.weather.gov/zones/forecast/WIZ072"
                ],
                "references": [],
                "sent": "2026-01-14T06:58:00-06:00",
                "effective": "2026-01-14T06:58:00-06:00",
                "onset": "2026-01-14T06:58:00-06:00",
                "expires": "2026-01-14T10:00:00-06:00",
                "ends": "2026-01-14T10:00:00-06:00",
                "status": "Actual",
                "messageType": "Alert",
                "category": "Met",
                "severity": "Moderate",
                "certainty": "Likely",
                "urgency": "Expected",
                "event": "Winter Weather Advisory",
                "sender": "w-nws.webmaster@noaa.gov",
                "senderName": "NWS Milwaukee/Sullivan WI",
                "headline": "Winter Weather Advisory issued January 14 at 6:58AM CST until January 14 at 10:00AM CST by NWS Milwaukee/Sullivan WI",
                "description": "* WHAT...Slick conditions from flash freezing and recent snowfall\nwill create icy conditions for the morning commute.\n\n* WHERE...Portions of east central, south central, and southeast\nWisconsin.\n\n* WHEN...Until 10 AM CST this morning.\n\n* IMPACTS...Roads, and especially bridges and overpasses, will\nlikely become slick and hazardous.",
                "instruction": "Slow down and use caution while traveling. The latest road\nconditions for the state you are calling from can be obtained by\ncalling 5 1 1.\n\nBe prepared for slippery roads. Slow down and use caution while\ndriving. If you are going outside, watch your first few steps taken\non stairs, sidewalks, and driveways. These surfaces could be icy and\nslippery, increasing your risk of a fall and injury.",
                "response": "Execute",
                "parameters": {
                  "AWIPSidentifier": [
                    "WSWMKX"
                  ],
                  "WMOidentifier": [
                    "WWUS43 KMKX 141258"
                  ],
                  "NWSheadline": [
                    "WINTER WEATHER ADVISORY IN EFFECT UNTIL 10 AM CST THIS MORNING"
                  ],
                  "BLOCKCHANNEL": [
                    "EAS",
                    "NWEM",
                    "CMAS"
                  ],
                  "VTEC": [
                    "/O.NEW.KMKX.WW.Y.0003.260114T1258Z-260114T1600Z/"
                  ],
                  "eventEndingTime": [
                    "2026-01-14T10:00:00-06:00"
                  ]
                },
                "scope": "Public",
                "code": "IPAWSv1.0",
                "language": "en-US",
                "web": "http://www.weather.gov",
                "eventCode": {
                  "SAME": [
                    "NWS"
                  ],
                  "NationalWeatherService": [
                    "WWY"
                  ]
                }
              }
            }
          ],
          "title": "Current watches, warnings, and advisories for 42.924957 N, 87.86587 W",
          "updated": "2026-01-14T15:00:00+00:00"
        },
        "pairedItem": {
          "item": 1
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get property details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get property details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get property details": {
      "main": [
        [
          {
            "node": "Does LatLong exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Does LatLong exists?": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get LatLong from OSM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LatLong from OSM": {
      "main": [
        [
          {
            "node": "Normalize data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get weather forecast using Open Mateo APi": {
      "main": [
        [
          {
            "node": "Preserve Property Data ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get NWS Alerts": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Get weather forecast using Open Mateo APi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Property Data ": {
      "main": [
        [
          {
            "node": "Ice risk evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize data": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ice risk evaluation": {
      "main": [
        [
          {
            "node": "Was ice risk detected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Check if NWS is available for property",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Was ice risk detected?": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if NWS is available for property": {
      "main": [
        [
          {
            "node": "Get NWS Alerts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c4f44ed2-9232-4732-a8ca-ee95cf52f2f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ee2fc668dd21b1966b7aa7071933be7388894f089e6de58f5d74d43f05be2fe2"
  },
  "id": "t9BaLDxhOelTP22yol72o",
  "tags": []
}